body {
	background: #4CA1AF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
h1 {
	padding: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

#intro {
	padding: 20px;
	text-align: left;
	margin-left: 50%;
	margin-right: 10%;
}
#basicAnim {
	position: absolute;
	left: 0;
}

#testDiv {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
    left: 700px;
    visibility: hidden;
}

#testDiv2 {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
    left: 700px;
    top: 400px;
    visibility: hidden;
}
#flowDiv, #flowDiv2, #flowDiv3, #barDiv, #barDiv2 {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#example1 {
    padding: 20px;
	text-align: left;
	margin-left: 50%;
	margin-right: 10%;
}

#comparison {
    padding: 20px;
	text-align: left;
	margin-left: 50%;
	margin-right: 10%;
}

#divide1 {
    margin-top: 200px;
}

#parallel1 {
    margin-top: -100px;
}

