body {
    background: #4CA1AF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
#main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    padding: 30px;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 16.6%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

.intro {
    padding: 20px;
    text-align: left;
    margin-left: 600px;
    margin-right: 10%;
    font-size: 20px;
}

#introCaption {
    position: absolute;
    padding: 20px;
    text-align: center;
    left: 0px;
    top: 600px;
    width: 600px;
    font-size: 12px;
}
#captionLock {
    position: absolute;
    padding: 20px;
    text-align: center;
    left: 25%;
    top: 4600px;
    width: 600px;
    font-size: 12px;
}

#basicAnim {
    position: absolute;
    left: 0;
}

#testDiv {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
    left: 700px;
    visibility: hidden;
}

#testDiv2 {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
    left: 700px;
    top: 400px;
    visibility: hidden;
}
#flowDiv, #flowDiv2, #flowDiv3, #barDiv, #barDiv2, #barDiv3, #task1Div, #task2Div {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
}
#squareDiv {
   position: absolute;
   height: 70px;
   width: 70px;
   background: orange;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#example1 {
    padding: 20px;
    text-align: left;
    margin-left: 25%;
    margin-right: 10%;
}

#comparison {
        padding: 20px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}



#parallel1 {
    margin-top: -100px;
}
#question {
    margin-top: 100px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#divide1 {
    padding-bottom: 0px;
}
#race-head {
    position: relative;
    top: 1990px;
    padding: 0px;
}

#racePic {
    position: relative;
    top: 2200px;
    padding: 0px;
}
#lock-head {
    position: relative;
    top: 2350px;
    padding: 0px;
}
#question-head {
    position: relative;
    top: 2900px;
    padding: 0px;
}
#solSys{
    position: relative;
    bottom: 450px;
}
.chart {
    position: relative;
    left: 25%;
}
.leftLock {
    margin-right: 50%;
}
footer {
    background: black;
    color: white;
    width: 100%;
    padding: 10px;
    margin: 0px;
}
#pieChart {
    position: relative;
    bottom: 900px;
}
#final {
    position: relative;
    bottom: 800px;
    font-size: 20px;
}